.content {
    background-color: #313030;
}
.col-sm-8 {
    width: 100%;
}
.panel-info {
    border-color: #000000;
}
.form-control {
    color: #fff;
    border: none;
    background-color: black !important;
    border-radius: 10px;
    border-color: black;
}
.panel {
    background-color: #131313;
}
body {
    color: white;
}
.thumbnail {
    background-color: #131313;
}
.alert-info-ex {
    background-color: #000000;
    color: #ffffff;
    border-color: #232323;
}
.footer {
    display: none;
}
.col-sm-12 {
    padding-right: 0px;
    padding-left: 0px; 
}