.content {
    background-color: #313030;
}
.col-sm-8 {
    width: 100%;
}
.panel-info {
    border-color: #000000;
}
.form-control {
    color: #fff;
    border: none;
    background-color: black !important;
    border-radius: 10px;
    border-color: black;
    width: 80vw !important;
}
.panel {
    background-color: #131313;
}
body {
    color: white;
    background: #2e2e2e !important;
}
.thumbnail {
    background-color: #131313;
}
.alert-info-ex {
    background-color: #000000;
    color: #ffffff;
    border-color: #232323;
}
.footer {
    display: none;
}
.navbar-default {
    background-color: #191919;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 0px;
}
.navbar-nav>li {
    float: left;
    background-color: #7373730a;
    border-radius: 6px;
    margin: 10px;
}
.navbar-default .navbar-nav>li>a {
    color: #ededed;
    font-weight: 600;
}
.navbar-form .navbar-right {
    width: 100% !important;
    margin-right: 0px;
}
.navbar-collapse.collapse {
    display: flex!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    visibility: visible!important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.btn-info {
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #000000 !important;
    border-radius: 5px;
}
.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #181818;
    border-color: #000000;
}
.alert-info {
    color: #ffffff;
    background-color: #101010;
    border-color: #00000000;
}
.text-default {
    color: #fff;
}
.bg-select {
    color: #000;
    background-color: #d0ff16;
}
.alert-warning {
    display: none;
}
.loginbar {
    display: none;
}
body > div > div:nth-child(1) > div > div > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > div > div > div.hidden-xs > a:nth-child(1) {
    display: none;
}
body > div > div:nth-child(1) > div > div > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > div > div > div.hidden-xs > a:nth-child(2) {
    display: none;
}
#t3 {
    display: none;
}
.navbar-brand {
    display: none;
}
.dropdown-menu {
    background-color: #090909;
}
.dropdown-menu>li>a {
    color: #fff;
}
body > div > div:nth-child(1) > h3 {
    display: none;
}
.pagination>li>a {
    background-color: #000;
    color: #ffffff;
}
.pagination>.disabled>span {
    background-color: #000;
    color: #fff;
}
.pagination>.active>span {
    background-color: #005aff;
    border-color: #ffffff;
    color: #fff;
}
.jw-slider-time {
    align-items: start;
}
.btn-primary {
    background-color: #337ab7a8;
}
#btnAutoPlay {
    background-color: #ff791a;
    margin-left: 10px;
}
.autoPlayActive {
    background-color: rgb(89 40 16) !important;
}
.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #2c2c2c;
}
body > div.content > div > div > div:nth-child(3) > div > div > h6 > span {
    color: #f3f3f3;
}
.btn-success {
    background-color: #7a00ff;
}